.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
}

.login {
  text-decoration: none;
  background-color: lightgrey;
  border-radius: 10%;
}

.link {
  color: black;
}

.loginContainer {
  box-shadow: 9px 9px 12px -4px rgba(163,151,163,1);
  border: 1px solid grey;
  padding: 5px;
  margin-top: 20px;;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instructor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */